.product {
  padding: 60px 0;
  position: relative;
  &__row {
    display: flex;
    column-gap: 35px;
  }
  &__heart{
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    &:hover{
      svg{
        color:red ;
      }
    }
  }
  &__images {
    position: relative;
  }
  &__slides {
    width: 60%;
    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
    .mySwiper {
      height: 30%;
      .swiper-slide-thumb-active {
        border: 4px solid #E64926;
      }
    }
    .mySwiper2 {
      height: 70%;
    }
  }
  &__slide {
    width: 100%;
    height: 250px;
    img {
      height: 100%;
    }
  }
  &__info {
    width: 40%;
  }
  &__title {
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: #0F303F;
  }
  &__category {
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    color: #0F303F;
  }
  &__price {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #0F303F;
  }
  &__sizes {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #0F303F;
    margin: 20px 0;
    &-list {
      display: flex;
      column-gap: 10px;
    }
    &-item {
      width: 35px;
      height: 35px;
      border: 1px solid #EAE9E8;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      color: #0F303F;
    }
  }
  &__colors {
    margin-bottom: 20px;
    &-list {
      display: flex;
      column-gap: 15px;
    }
    &-item {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #EAE9E8;
    }
  }
  &__btns {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  &__btn {
    background: #0F303F;
    border: 1px solid #0F303F;
    padding: 14px 19px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #EAE9E8;
    cursor: pointer;
    &:hover {
      background: transparent;
      color: #0F303F;
    }
    &:disabled{
      opacity: 50%;
      &:hover{
        background: #0F303F;
        color: #EAE9E8;
      }
    }
  }
}
